VITE_THIRDWEB_CLIENT_ID=
VITE_WORDPRESS_REST_URL=
VITE_CHATBASE_BOT_ID=
VITE_AXIM_ACCESS_TOKEN_ADDRESS=
VITE_NEWSLETTER_API_URL=

VITE_ONYX_WORKER_URL=https://your-edge-worker-url.workers.dev
VITE_AXIM_ONYX_SECRET=your_secure_bearer_token
VITE_TURNSTILE_SITE_KEY=1x00000000000000000000AA
