VITE_THIRDWEB_CLIENT_ID=
VITE_WORDPRESS_REST_URL=
VITE_WORDPRESS_URL=
VITE_WP_PROXY_URL=https://wp-proxy.axim.us.com
VITE_CHATBASE_BOT_ID=
VITE_AXIM_ACCESS_TOKEN_ADDRESS=
VITE_NEWSLETTER_API_URL=
VITE_AXIM_CORE_URL=
VITE_AXIM_CORE_ANON_KEY=
VITE_AXIM_CORE_API_URL=

VITE_ONYX_WORKER_URL=https://your-edge-worker-url.workers.dev
VITE_TELEMETRY_ENDPOINT=https://telemetry.axim.us.com
VITE_AXIM_ONYX_SECRET=your_secure_bearer_token
VITE_TURNSTILE_SITE_KEY=1x00000000000000000000AA
